[submodule "dotemacs.d/site-lisp/multiple-cursors"]
	path = dotemacs.d/site-lisp/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "dotemacs.d/site-lisp/expand-region"]
	path = dotemacs.d/site-lisp/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "dotemacs.d/site-lisp/multifiles"]
	path = dotemacs.d/site-lisp/multifiles
	url = https://github.com/magnars/multifiles.el.git
[submodule "dotemacs.d/site-lisp/dash"]
	path = dotemacs.d/site-lisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule "dotemacs.d/site-lisp/browse-kill-ring"]
	path = dotemacs.d/site-lisp/browse-kill-ring
	url = https://github.com/browse-kill-ring/browse-kill-ring.git
[submodule "dotemacs.d/site-lisp/perspective"]
	path = dotemacs.d/site-lisp/perspective
	url = https://github.com/nex3/perspective-el.git
[submodule "dotemacs.d/site-lisp/ace-jump-mode"]
	path = dotemacs.d/site-lisp/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "dotemacs.d/site-lisp/smart-forward"]
	path = dotemacs.d/site-lisp/smart-forward
	url = https://github.com/magnars/smart-forward.el.git
[submodule "dotemacs.d/site-lisp/emacs-bash-completion"]
	path = dotemacs.d/site-lisp/emacs-bash-completion
	url = https://github.com/szermatt/emacs-bash-completion.git
[submodule "dotemacs.d/site-lisp/ido-ubiquitous"]
	path = dotemacs.d/site-lisp/ido-ubiquitous
	url = https://github.com/technomancy/ido-ubiquitous.git
[submodule "dotemacs.d/site-lisp/phi-search"]
	path = dotemacs.d/site-lisp/phi-search
	url = git://github.com/zk-phi/phi-search.git
